@use '../abstracts' as *;

.checkout-page {
    @include layout-grid;
    @include respond(desktop) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include respond-mobile-tablet {
        grid-template-columns: auto 1fr auto;
    }

    .checkout-header {
        position: absolute;
        left: 0;
        right: 0;
        background-color: $color-background;
        height: $header-height;
        z-index: $z-index-header;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
        column-gap: 20px;
        padding-left: 200px;
        padding-right: 200px;

        .app-logo-column {
            grid-column: 1;
            display: flex;
            justify-content: start;
            align-items: center;

            .app-logo {
                width: 100px;
                height: auto;
                @include respond(tablet) {
                    width: 80px;
                }

                @include respond(mobile) {
                    width: 80px;
                }
            }
        }

        .checkout-title {
            grid-column: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            .title {
                font-size: $font-size-3xl;
                margin-block: var(--title-margin, $spacing-md);
            }
        }
        .unipaas-logo-column {
            grid-column: 3;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-left: 1rem;

            .unipaas-logo {
                width: 120px;
                height: auto;

                @include respond(tablet) {
                    width: 100px;
                }

                @include respond(mobile) {
                    width: 80px;
                }

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }
    }

    .checkout-main {
        grid-column: 1 / -1;
        display: contents;
        gap: 32px;

        .checkout-left {
            grid-column: 1/3;
            margin-top: 100px;
            gap: 24px;

            .box {
                background: #fff;
                border: 1px solid #ccc;
                padding: 20px;
                margin-bottom: 10px;

                &:nth-child(3) {
                    margin-bottom: 0;
                    border-bottom: none;
                }
            }

            .payment-box {
                padding-bottom: 20px;
                border-bottom: 1px solid $color-text;
                margin-bottom: 20px;
                background: #fff;

                .section-title-container {
                    margin-bottom: 30px;
                }
            }

            .payment-type-box {
                .section-title-container {
                    margin-top: 20px;
                    margin-bottom: 30px;
                }

                .unipaas-method {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin: 20px 0;
                    margin-block-start: 12px;
                    width: 80px;
                    height: auto;

                    @include respond(tablet) {
                        width: 160px;
                    }

                    @include respond(mobile) {
                        width: 160px;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }
            }
            .payment-footer-box {
                &.box {
                    margin-top: 0;
                    background-color: $color-background-light;
                }

                .credit-cards-img {
                    height: 30px; // adjust to your needs
                    margin-left: 14px;
                    vertical-align: middle;

                    img {
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                }
            }

            .payment-button {
                padding: 0 20px;
                margin-bottom: 20px;
                margin-top: 20px;
            }

            .payment-button .action-button {
                width: 100%;
                &:hover {
                    background-color: $color-action-hover-green;
                }
            }
        }

        .checkout-summary {
            grid-column: 3;
            .box {
                background: #fff;
                border: 1px solid #ccc;
                padding: 20px;
            }

            .sticky {
                position: sticky;
                top: 100px;
            }

            .summary-header {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid $color-border-light;

             .action-button {
                padding: 0 10px;
                margin-bottom: 20px;
                font-size: $font-size-sm;
                border: none;
                text-decoration: none;
                &:hover {
                    background-color: transparent;
                    text-decoration: underline;
                }
            }
        }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
            .cart-items-list {
                max-height: 50vh;
                overflow-y: auto;

                // Optional: style scrollbar
                &::-webkit-scrollbar {
                    width: 6px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, 0.15);
                    border-radius: 3px;
                }
           

            .cart-product-card.checkout-card {
                margin-top: 1rem;
                border-bottom: 1px solid $color-border-light;

                .image-container {
                    grid-row: 1/-1;
                    width: 100px;


                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .items-details {
                    .title {
                        font-size: $font-size-sm;
                    }

                    .item-description {
                        font-size: $font-size-xs;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        line-clamp: 2;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .item-meta-row {
                        gap: $spacing-xs;
                        margin-bottom: 0;
                    }
                    .meta-button {
                        font-size: $font-size-xs;
                        padding: 0.15rem 0.25rem;
                        border: none;

                    }
                    .total-price {
                        font-size: $font-size-base;
                    }
                }
            }
        }
                .summary-line {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 0.25rem;
                    @include text-style();

                    &.total {
                        @include text-style($size: $font-size-lg, $weight: $font-weight-bold );
                    }
                }
            }
        }
    }

