@use '../abstracts' as *;

.shop-page {
    padding: 0;


    .tag-filters {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        flex-wrap: wrap;
      
        .tag-buttons {
          display: flex;
          flex-wrap: wrap;
          gap: 0.75rem;
        }
      
      }

    .products-container {
        width: 100%;
    }

    .loading,
    .error {
        text-align: center;
        padding: 2rem;
        font-size: 1.2rem;
    }

    .error {
        color: #e74c3c;
    }
}
