@use '../abstracts' as *;

html, body {
  margin: 0;
  padding: 0;
  background-color: $color-background;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 2rem 200px;
  width: 100%;
  box-sizing: border-box;

  @include respond(tablet) {
    padding: 2rem;
  }

  @include respond(mobile) {
    padding: 1rem;
  }
}
