@use '../abstracts' as *;

.action-button {
    padding: 0.8rem 1.8rem; // 22px vertical 
    background-color: $color-action;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color $transition-base;
    border: 1px solid $color-text;

    @include flex ($align:center, $justify:center);
    @include text-style($size: $font-size-lg);
  
    &:hover,
    &:active {
      background-color: $color-action-hover;
    }
  }