@use '../abstracts' as *;

.cart-product-card {
  display: flex;
  gap: $spacing-lg;
  border-bottom: 1px solid $color-border-light;
  padding-bottom: $spacing-md;


  .image-container {
    width: 140px;
    height: 140px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $spacing-xs;

    .title {
      @include text-style($size: $font-size-xl, $weight: $font-weight-semibold);
      margin-bottom: $spacing-xs;
    }
    .remove-btn {
      background: none;
      border: none;
      padding: 0.25rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .remove-icon {
        width: 10px;
        height: 10px;
        transition: stroke 0.2s ease;
  
        &:hover {
          stroke: $color-error;
        }
      }
    }
  }

    .description {
      @include text-style($size: $font-size-sm, $color: $color-text-light);
      margin-bottom: $spacing-sm;
      line-height: 1.4;
    }

    .controls {
      display: flex;
      align-items: center;
      gap: $spacing-sm;

      .label {
        @include text-style($size: $font-size-sm);
      }

      button {
        padding: 0.25rem 0.5rem;
        border: 1px solid $color-text;
        background-color: transparent;
        cursor: pointer;
        font-size: $font-size-sm;

        &:hover {
          background-color: $color-action;
        }
      }

      .quantity {
        @include text-style($size: $font-size-sm, $weight: $font-weight-bold);
        padding: 0 $spacing-xs;
      }
    }

    .footer-row {
      margin-top: $spacing-sm;
      @include flex-between;

      .total-price {
        @include text-style($size: $font-size-lg, $weight: $font-weight-semibold);
      }

      // .remove-btn {
      //   background: none;
      //   border: none;
      //   color: $color-text;
      //   font-size: $font-size-sm;
      //   cursor: pointer;

      //   &:hover {
      //     text-decoration: underline;
      //     color: $color-error;
      //   }
      // }
    }
  }
}
