@use '../abstracts' as *;

.title-container {
    text-align: left;
    padding: $spacing-md 0.4rem;

    .title {
        @include text-style($size: $font-size-title-mobile, $family: $font-family-title);
        text-align: center;
        vertical-align: top;
        margin-block: var(--title-margin, $spacing-xl);

        @include respond(tablet) {
            @include text-style($size: $font-size-title-tablet, $family: $font-family-title); 
          }
      
          @include respond(desktop) {
            @include text-style($size: $font-size-title, $family: $font-family-title); 
          }
          @include respond(wide) {
            @include text-style($size: $font-size-title, $family: $font-family-title); 
          }
    }
}
